.content {
    padding: 40px;

    .search {
        display: flex;
        padding: 0 15px;

        input {
            width: 250px;
            border: 1px solid #F3F3F3;
            border-radius: 10px;
            padding: 13px;
            font-size: 14px;
            padding-left: 42px;
            background-image: url(../../../public/img/search.svg);
            background-repeat: no-repeat;
            background-position: 14px;
        }
    }


    .FirstBlock {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 40px 0;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        margin-left: 2%;
    }
}