.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EAEAEA;

    .headerlog {
        display: flex;
        align-items: center;
        padding: 40px;

        h3 {
            text-transform: uppercase;
        }

        h3,
        p {
            margin: 0;
        }

        img {
            margin-right: 16px;
            cursor: pointer;
        }
    }

    ul {
        display: flex;

        img {
            cursor: pointer;
        }

        .headerfirstlink {
            display: flex;

            img {
                margin-right: 10px;
            }
        }

        li {
            margin-right: 30px;
        }
    }
}